@using Why.Data.Models
@model List<Thumb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.create = true;
}

<div class="grid-base">

    <div class="grid-container">


        @foreach (var item in Model)
        {
            if (item.ThumbClass == "Bronze")
            {
                <div class="box">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ThumbId">
                        <div class="box" style="background-color:sandybrown">
                            <h5>@item.ThumbName @item.ThumbLastName</h5>
                            <span>@item.Date.Day:@item.Date.Month:@item.Date.Year</span>
                            <h6>@item.ThumbTag</h6>
                        </div>
                    </a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbDel" asp-route-id="@item.ThumbId">Del</a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbEdit" asp-route-id="@item.ThumbId">Edit</a>

                </div>
            }
            else if (item.ThumbClass == "Silver")
            {
                <div class="box">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ThumbId">
                        <div class="box" style="background-color:silver">
                            <h5>@item.ThumbName @item.ThumbLastName</h5>
                            <span>@item.Date.Day:@item.Date.Month:@item.Date.Year</span>
                            <h6>@item.ThumbTag</h6>
                        </div>
                    </a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbDel" asp-route-id="@item.ThumbId">Del</a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbEdit" asp-route-id="@item.ThumbId">Edit</a>

                </div>
            }
            else if (item.ThumbClass == "Gold")
            {
                <div class="box">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ThumbId">
                        <div class="box" style="background-color:goldenrod">
                            <h5>@item.ThumbName @item.ThumbLastName</h5>
                            <span>@item.Date.Day:@item.Date.Month:@item.Date.Year</span>
                            <h6>@item.ThumbTag</h6>
                        </div>
                    </a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbDel" asp-route-id="@item.ThumbId">Del</a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbEdit" asp-route-id="@item.ThumbId">Edit</a>

                </div>
            }
            else if (item.ThumbClass == null)
            {
                <div class="box">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ThumbId">
                        <div class="box" style="">
                            <h5>@item.ThumbName @item.ThumbLastName</h5>
                            <span>@item.Date.Day:@item.Date.Month:@item.Date.Year</span>
                            <h6>@item.ThumbTag</h6>
                        </div>
                    </a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbDel" asp-route-id="@item.ThumbId">Del</a>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="ThumbEdit" asp-route-id="@item.ThumbId">Edit</a>

                </div>
            }


        }


    </div>

</div>



