@using Why.Data.Models
@model List<Thumb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="grid-base">

    <div class="grid-container">


        @foreach (var item in Model)
        {
            <div class="box">
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ThumbId">
                    <div class="box" style="">
                        <h5>@item.ThumbName @item.ThumbLastName</h5>
                        <span>@item.Date.Day:@item.Date.Month:@item.Date.Year</span>
                        <h6>@item.ThumbTag</h6>
                    </div>
                </a>
                <a class="btn btn-primary"  asp-controller="Admin" asp-action="ThumbDel" asp-route-id="@item.ThumbId">Del</a>

            </div>

        }


    </div>

</div>



