
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<h6>@ViewBag.userName</h6>
<h6>@ViewBag.userLast</h6>
<h6>@ViewBag.userMail</h6>

@if (ViewBag.userCount != null)
{
    <a class="btn btn-dark"  asp-area="" asp-controller="Chat" asp-action="Chat" asp-route="@ViewBag.userCount @ViewBag.userMail"></a>
}

