@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<h6>@ViewBag.userName</h6>
<h6>@ViewBag.userLast</h6>
<h6>@ViewBag.userMail</h6>

@if (ViewBag.userCount != null)
{

    <a class="btn btn-dark" id="btn" asp-controller="Chat" asp-action="Index" asp-route-userEmail="@ViewBag.userMail">Chat</a>
    <input type="hidden" id="txtOtherUser" value="@ViewBag.userMail" />
    <input type="hidden" id="txtUser" value="@ViewBag.userCount"/>
}

@section Scripts{
    <script>



        $("#btn").click(x => {
            let Userr = $("#txtUser").val();
            let OtherUser = $("#txtOtherUser").val();
            let userss = Userr + OtherUser;
            

            
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Chat/ChatUserMessage/",
                data: {user: Userr, otherUser: OtherUser, users: userss},
                success: function(func) {
                    console.log(func);
                }

            });


        });

    </script>
    }